@import "_bootstrap/bootstrap";

@md-scale: 0.8;
@sm-scale: 0.7;
@xs-scale: 0.55;
@red-color: #f14744;

body {
  overflow-x:hidden;
}

.container {
  min-width: 340px !important;
}
.top-menu{
  margin-top: 0px;
  margin-bottom: 0px;
  .container-fluid{
    padding: 0px;
  }
}
.top_description{
  @logo-size: 50px;
  h1{
    position: relative;
    margin: 0px;
    padding-left: @logo-size + 10px;
    font-weight: bold;
    .brand{
      font-size: 1.6em;
      text-shadow: rgba(0,0,0,.01) 0 0 1px;
    }
    white-space: nowrap;
    a{
      color: @red-color;
    }
    a:hover{
      text-decoration: inherit;
    }
    margin-bottom: 20px;
  }
  p{
    //padding-top: 1em;
    padding-right: 30%;
    //padding-bottom: 1em;
  }
  span{
    left: 0px;
    top: 5px;
    position: absolute;
    width: @logo-size;
    height: @logo-size;
    display: block;
    background: url('../images/logo.jpg');
  }
}

.navbar-nav{
  a{
    font-size: 24px;
  }
}

@top-description-font: 24px;


.top_description {
  font-size: @top-description-font;
  z-index: 100;
  margin-top: 15px;
  margin-bottom: 15px;
}
.car_logo{
  position: relative;
  .space-holder{
    width:100%;
    display: block !important;
  }
  .car{
    position: absolute;
    top:0px;
    right: 0px;
    width: 120%;
    z-index: 0;
  }
}

.car-block{
  margin-bottom: 80px;
}

@feature-name-size: 55px;
@feature-description-size: 26px;
.feature-container{
  padding-top: 30px;
  padding-bottom: 30px;
  &.con-im-left {
    background-color: #f6f6f6;
  }
  margin-bottom: 20px;
  overflow: hidden;
}
.feature-block {

  .info{
    //background-color: #fae2e1;
  }
  h2{
    font-size: @feature-name-size;
    color: #f14744;
  }
  li{
    font-size: @feature-description-size;
    list-style-type: none;
  }
  ul{
    margin-top: 10px;
    padding: 5px;
  }

  .feature-img{
    position: relative;
    img {
      position: absolute;
      top:0px;
    }
    &.im-left img{
      right: 40px;
    }
    &.im-right img{
      left:40px;
    }
  }

}
@info-block-title: 60px;
@info-block-text: 28px;

.info-container{
  padding-top:10px;
  padding-bottom: 30px;
  margin-bottom: 50px;

  &.red{
    background-color: @red-color;
    color: #ffffff;
  }
}

.info-block{

  font-size: @info-block-text;

  h1 {
    position: relative;
    .anchor{
      position: absolute;
      left:0px;
      top:-100px;
    }
    font-size: @info-block-title;
  }

  img {
    max-width: 100%;
  }

}

.phone {
  font-size: @info-block-title*0.8;
}

.scale_style(@scale) {

  .feature-block {

    h2{
      font-size: @feature-name-size*@scale;
    }
    li{
      font-size: @feature-description-size*@scale;
    }
  }
  .info-block{

    font-size: @info-block-text*@scale;
    h1 {
      font-size: @info-block-title*@scale;
    }

  }

  .phone {
    font-size: @info-block-title*0.8*@scale;
  }
}

.clients{
  img{
    margin-bottom: 10px;
  }
}

@media (max-width: @screen-lg-min) {
  .scale_style(0.9);

  .top_description{
    h1{
      .brand{
        font-size: 1.5em;
      }
    }
    span{
      left: 0px;
      top: 1px;
    }
    font-size: @top-description-font*0.9;
  }
}

@media (max-width: @screen-md) {
  .scale_style(@md-scale);

  .top_description{
    h1{
      .brand{
        font-size: 1.1em;
      }
    }
    span{
      left: 0px;
      top: -3px;
    }
    font-size: @top-description-font*0.7;
  }
}

@media (max-width: @screen-sm) {
  .scale_style(@sm-scale);

  .car_logo{
    .space-holder{
      display: none !important;
    }
    .car{
      position: relative;
      width: 100%;
      z-index: 0;
    }
  }


  .top_description{
    font-size: @top-description-font*0.8;
    p{
      //padding-top: 1em;
      padding-right: 0;
      //padding-bottom: 1em;
    }
  }
}

@media (max-width: @screen-xs) {
  .scale_style(@xs-scale);
  .navbar-nav{
    a{
      font-size: 14px;
    }
  }
}
